@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

* {
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Outfit", "Arial", "Courier New", serif;
}

input {
    all: unset;
}

.svg-normal {
    color: #5A698F;
}

.svg-active {
    color: #FFF
}


.slick-slide {
    margin: 0 50px;
}


.slick-track {
    height: 300px !important;
}

.slick-list, .slick-slider {
    height: 300px !important;
}

@media (max-width: 1300px) {
    .slick-slide {
        margin: 0 0px;
    }
}

@media (max-width: 1100px) {
    .slick-slide {
        margin: 0 40px;
    }
}

@media (max-width: 956px) {
    .slick-slide {
        margin: 0 70px;
    }
}

@media (max-width: 840px) {
    .slick-slide {
        margin: 0 90px;
    }
}

@media (max-width: 760px) {
    .slick-slide {
        margin: 0 0px;
    }
}

@media (max-width: 760px) {
    .slick-slide {
        margin: 0 15px;
    }
}


@media (max-width: 620px) {
    .slick-slide {
        margin: 0 30px;
    }
}

@media (max-width: 540px) {
    .slick-slide {
        margin: 0 45px;
    }
}

@media (max-width: 475px) {
    .slick-slide {
        margin: 0 55px;
    }
}

@media (max-width: 440px) {
    .slick-slide {
        margin: 0 75px;
    }
}

@media (max-width: 470px) {

    .slick-track {
        height: 150px !important;
    }

    .slick-list, .slick-slider {
        height: 150px !important;
    }
}


@media (max-width: 756px) {

    .slick-track {
        height: 150px !important;
    }

    .slick-list, .slick-slider {
        height: 150px !important;
    }
}
